body{
    padding: 6.25rem;
}
.submit-area{
    margin-top: 5rem;
    padding: 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0.313rem .313rem 0.625rem gray;
}
.copyright{
    margin-top: 15rem;
    text-align: center;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    color: white;
    padding: 1.25rem;
    margin: 0 1.25rem 1.25rem 1.25rem;
    border-radius: 0.625rem;
}
#transaction-area{
    display: none;
}